# Table of Contents
 <p><div class="lev1 toc-item"><a href="#单一决策树预测泰坦尼克号生还情况" data-toc-modified-id="单一决策树预测泰坦尼克号生还情况-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>单一决策树预测泰坦尼克号生还情况</a></div><div class="lev2 toc-item"><a href="#导入数据" data-toc-modified-id="导入数据-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>导入数据</a></div><div class="lev2 toc-item"><a href="#用平均值填充‘age’特征列中的缺失值" data-toc-modified-id="用平均值填充‘age’特征列中的缺失值-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>用平均值填充‘age’特征列中的缺失值</a></div><div class="lev1 toc-item"><a href="#下面开始数据分割" data-toc-modified-id="下面开始数据分割-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>下面开始数据分割</a></div><div class="lev1 toc-item"><a href="#性能测评" data-toc-modified-id="性能测评-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>性能测评</a></div>

# 单一决策树预测泰坦尼克号生还情况

## 导入数据

In [2]:
import pandas as pd
titantic=pd.read_csv('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt')

In [3]:
'''  把 titanic 保存为本地csv文件 '''
titantic.to_csv( 'titantic.csv', index=False )

In [4]:
'''  再次载入此csv文件  '''
titantic=pd.read_csv('titantic.csv')

In [5]:
titantic.head(4)

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female

In [6]:
titantic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
row.names    1313 non-null int64
pclass       1313 non-null object
survived     1313 non-null int64
name         1313 non-null object
age          633 non-null float64
embarked     821 non-null object
home.dest    754 non-null object
room         77 non-null object
ticket       69 non-null object
boat         347 non-null object
sex          1313 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 112.9+ KB

In [7]:
xx=['pclass', 'age' ,'sex']
X=titantic[ xx ]    #抽取出其中的3列
y=titantic['survived']

X.info()

print(xx)

X['age'].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       633 non-null float64
sex       1313 non-null object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB
['pclass', 'age', 'sex']

31.19418104265403

## 用平均值填充‘age’特征列中的缺失值

In [8]:
X['age'].fillna( X['age'].mean(), inplace=True ) 
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       1313 non-null float64
sex       1313 non-null object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB

D:\anaconda3_64\lib\site-packages\pandas\core\generic.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [9]:
X['pclass'][1300]

'3rd'

# 下面开始数据分割

In [10]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test=train_test_split( X, y, test_size=0.25, random_state=33 )

In [11]:
from sklearn.feature_extraction import DictVectorizer
vec=DictVectorizer(sparse=False)   #

X_train=vec.fit_transform( X_train.to_dict( orient='record' ) )

In [12]:
print( vec.feature_names_ )

['age', 'pclass=1st', 'pclass=2nd', 'pclass=3rd', 'sex=female', 'sex=male']

In [13]:
print(vec)

DictVectorizer(dtype=<class 'numpy.float64'>, separator='=', sort=True,
        sparse=False)

In [14]:
X_train

array([[ 31.19418104,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ],
       [ 31.19418104,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ],
       [ 31.19418104,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ],
       ...,
       [ 12.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ],
       [ 18.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ],
       [ 31.19418104,   0.        ,   0.        ,   1.        ,
          1.        ,   0.        ]])

In [15]:
type(X_train)

numpy.ndarray

In [16]:
X_test=vec.transform(X_test.to_dict(orient='record'))

In [17]:
X_test

array([[ 18.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ],
       [ 48.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ],
       [ 31.19418104,   1.        ,   0.        ,   0.        ,
          0.        ,   1.        ],
       ...,
       [ 20.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ],
       [ 54.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   1.        ],
       [ 31.19418104,   0.        ,   0.        ,   1.        ,
          1.        ,   0.        ]])

In [18]:
#从 sklearn中导入决策树分类器
from sklearn.tree import DecisionTreeClassifier

dtc=DecisionTreeClassifier() #初始化决策树分类器
dtc.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [19]:
type(dtc)

sklearn.tree.tree.DecisionTreeClassifier

In [20]:
y_predict=dtc.predict(X_test)

In [21]:
type(y_predict)

numpy.ndarray

In [22]:
print(y_predict)

[0 1 0 0 0 1 1 0 0 1 0 1 1 0 0 1 0 1 0 1 1 1 0 0 0 0 1 1 0 0 1 0 0 0 1 1 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0
 0 1 0 0 0 1 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0
 1 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 1 0 0 1 0 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 1
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0
 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 1 1 1 0
 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 1 1 1 0 0 0 1 1 0 0
 1 1 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 1 0 0 0 1 0 0 0
 1 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0]

# 性能测评

In [23]:
from sklearn.metrics import classification_report

In [24]:
#输出预测的准确性
print(  dtc.score( X_test, y_test  )   )

0.781155015198

In [25]:
# 更加详细的分类性能
print(  classification_report( y_test, y_predict ,target_names=['died',  'survived' ]   )   )

             precision    recall  f1-score   support

       died       0.78      0.91      0.84       202
   survived       0.80      0.58      0.67       127

avg / total       0.78      0.78      0.77       329

In [26]:
y_test

386     0
89      1
183     1
746     0
1211    0
384     1
729     1
1076    0
1290    0
385     1
722     1
169     1
275     0
485     0
790     0
159     1
302     0
296     1
1208    0
428     1
745     0
109     1
1300    0
906     1
1291    0
32      1
584     1
585     1
1250    0
44      0
       ..
414     0
241     1
31      1
764     0
932     0
1226    1
657     1
256     0
803     0
677     0
1279    1
396     1
462     1
693     0
927     0
628     1
506     0
371     0
1198    0
232     1
709     0
508     0
282     1
698     0
1049    0
1048    0
106     1
618     0
175     0
937     0
Name: survived, dtype: int64

In [27]:
len(y_test[y_test==0] )

202

In [28]:
len(y_test[y_test==1] )

127

In [29]:
y_test==0

386      True
89      False
183     False
746      True
1211     True
384     False
729     False
1076     True
1290     True
385     False
722     False
169     False
275      True
485      True
790      True
159     False
302      True
296     False
1208     True
428     False
745      True
109     False
1300     True
906     False
1291     True
32      False
584     False
585     False
1250     True
44       True
        ...
414      True
241     False
31      False
764      True
932      True
1226    False
657     False
256      True
803      True
677      True
1279    False
396     False
462     False
693      True
927      True
628     False
506      True
371      True
1198     True
232     False
709      True
508      True
282     False
698      True
1049     True
1048     True
106     False
618      True
175      True
937      True
Name: survived, dtype: bool