# 良恶性肿瘤预测任务

In [5]:
from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [6]:
import pandas as pd
import numpy as np

column_names=['Sample Code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell \
Shape','Marginal Adhersion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal\
 Nucleoli','Mitoses','Class']

data=pd.read_csv('E:/my_python_lessons/breast-cancer-wisconsin.data',names=column_names)

#将？替换成标准缺失值表示
data=data.replace(to_replace='?',value=np.nan)
data=data.dropna(how='any')
data.shape

(683, 11)

In [7]:
data

,Sample Code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhersion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
24,1059552,1,1,1,1,2,1,3,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4
26,1066373,3,2,1,1,1,1,2,1,1,2
27,1066979,5,1,1,1,2,1,2,1,1,2
28,1067444,2,1,1,1,2,1,2,1,1,2
29,1070935,1,1,3,1,2,1,1,1,1,2
30,1070935,3,1,1,1,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
669,1350423,5,10,10,8,5,5,7,10,1,4
670,1352848,3,10,7,8,5,8,7,4,1,4
671,1353092,3,2,1,2,2,1,3,1,1,2
672,1354840,2,1,1,1,2,1,3,1,1,2
673,1354840,5,3,2,1,3,1,1,1,1,2
674,1355260,1,1,1,1,2,1,2,1,1,2
675,1365075,4,1,4,1,2,1,1,1,1,2
676,1365328,1,1,2,1,2,1,2,1,1,2
677,1368267,5,1,1,1,2,1,1,1,1,2
678,1368273,1,1,1,1,2,1,1,1,1,2
679,1368882,2,1,1,1,2,1,1,1,1,2
680,1369821,10,10,10,10,5,10,10,10,7,4
681,1371026,5,10,10,10,4,10,5,6,3,4
682,1371920,5,1,1,1,2,1,3,2,1,2
683,466906,1,1,1,1,2,1,1,1,1,2
684,466906,1,1,1,1,2,1,1,1,1,2
685,534555,1,1,1,1,2,1,1,1,1,2
686,536708,1,1,1,1,2,1,1,1,1,2
687,566346,3,1,1,1,2,1,2,3,1,2
688,603148,4,1,1,1,2,1,1,1,1,2
689,654546,1,1,1,1,2,1,1,1,8,2
690,654546,1,1,1,3,2,1,1,1,1,2
691,695091,5,10,10,5,4,5,4,4,1,4
692,714039,3,1,1,1,2,1,1,1,1,2
693,763235,3,1,1,1,2,1,2,1,2,2
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [8]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data[column_names[1:10]], data[column_names[10]], test_size=0.25,\
                                            random_state=33)

In [9]:
data[column_names[1:10]]

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhersion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
5,8,10,10,8,7,10,9,7,1
6,1,1,1,1,2,10,3,1,1
7,2,1,2,1,2,1,3,1,1
8,2,1,1,1,2,1,1,1,5
9,4,2,1,1,2,1,2,1,1
10,1,1,1,1,1,1,3,1,1
11,2,1,1,1,2,1,2,1,1
12,5,3,3,3,2,3,4,4,1
13,1,1,1,1,2,3,3,1,1
14,8,7,5,10,7,9,5,5,4
15,7,4,6,4,6,1,4,3,1
16,4,1,1,1,2,1,2,1,1
17,4,1,1,1,2,1,3,1,1
18,10,7,7,6,4,10,4,1,2
19,6,1,1,1,2,1,3,1,1
20,7,3,2,10,5,10,5,4,4
21,10,5,5,3,6,7,7,10,1
22,3,1,1,1,2,1,2,1,1
24,1,1,1,1,2,1,3,1,1
25,5,2,3,4,2,7,3,6,1
26,3,2,1,1,1,1,2,1,1
27,5,1,1,1,2,1,2,1,1
28,2,1,1,1,2,1,2,1,1
29,1,1,3,1,2,1,1,1,1
30,3,1,1,1,1,1,2,1,1
...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1
670,3,10,7,8,5,8,7,4,1
671,3,2,1,2,2,1,3,1,1
672,2,1,1,1,2,1,3,1,1
673,5,3,2,1,3,1,1,1,1
674,1,1,1,1,2,1,2,1,1
675,4,1,4,1,2,1,1,1,1
676,1,1,2,1,2,1,2,1,1
677,5,1,1,1,2,1,1,1,1
678,1,1,1,1,2,1,1,1,1
679,2,1,1,1,2,1,1,1,1
680,10,10,10,10,5,10,10,10,7
681,5,10,10,10,4,10,5,6,3
682,5,1,1,1,2,1,3,2,1
683,1,1,1,1,2,1,1,1,1
684,1,1,1,1,2,1,1,1,1
685,1,1,1,1,2,1,1,1,1
686,1,1,1,1,2,1,1,1,1
687,3,1,1,1,2,1,2,3,1
688,4,1,1,1,2,1,1,1,1
689,1,1,1,1,2,1,1,1,8
690,1,1,1,3,2,1,1,1,1
691,5,10,10,5,4,5,4,4,1
692,3,1,1,1,2,1,1,1,1
693,3,1,1,1,2,1,2,1,2
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

In [10]:
y_train.value_counts() #标记值的数目，如有344个2，和168个4

2    344
4    168
Name: Class, dtype: int64

In [11]:
y_test.value_counts()

2    100
4     71
Name: Class, dtype: int64

In [12]:
y_train  #训练集中的标记值

662    2
282    4
542    2
301    2
95     2
591    4
356    4
17     2
582    4
460    2
426    2
693    2
148    2
597    2
377    2
193    2
578    2
306    2
98     4
325    2
198    2
44     4
429    2
313    2
74     4
640    2
549    4
367    4
121    2
570    4
      ..
216    2
534    2
594    4
666    2
7      2
610    4
101    4
550    2
418    2
358    4
86     4
543    2
254    4
630    2
607    2
678    2
409    2
178    2
558    2
560    2
413    2
63     4
104    4
201    4
59     4
207    2
674    2
593    2
405    2
20     4
Name: Class, dtype: int64

In [25]:
X_train  #训练集中随机排布的特征向量

array([[-1.19196677, -0.68788787, -0.03809494, ..., -0.55666054,
        -0.58626819, -0.34343195],
       [-1.19196677,  0.30608745, -0.03809494, ...,  0.68611648,
         1.09441105, -0.34343195],
       [ 0.24231522, -0.02523765, -0.72246721, ..., -0.97091955,
        -0.58626819, -0.34343195],
       ...,
       [ 0.24231522, -0.68788787, -0.38028108, ..., -0.97091955,
        -0.58626819, -0.34343195],
       [-1.19196677, -0.68788787, -0.72246721, ..., -0.55666054,
        -0.58626819, -0.34343195],
       [ 0.95945621, -0.02523765, -0.38028108, ...,  0.68611648,
         0.42213936,  1.42674078]])

代码15：使用线性分类模型（逻辑斯蒂回归和随机参数下降）从事良/恶性肿瘤预测

In [14]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
    
ss=StandardScaler() #标准化数据，保证每个维度的特征数据均值为0，方差为1
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)

In [15]:
ss

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
X_train

array([[-1.19196677, -0.68788787, -0.03809494, ..., -0.55666054,
        -0.58626819, -0.34343195],
       [-1.19196677,  0.30608745, -0.03809494, ...,  0.68611648,
         1.09441105, -0.34343195],
       [ 0.24231522, -0.02523765, -0.72246721, ..., -0.97091955,
        -0.58626819, -0.34343195],
       ...,
       [ 0.24231522, -0.68788787, -0.38028108, ..., -0.97091955,
        -0.58626819, -0.34343195],
       [-1.19196677, -0.68788787, -0.72246721, ..., -0.55666054,
        -0.58626819, -0.34343195],
       [ 0.95945621, -0.02523765, -0.38028108, ...,  0.68611648,
         0.42213936,  1.42674078]])

In [17]:
#初始化LogisticRegression 和 SGDClassifier
lr=LogisticRegression()
sgdc=SGDClassifier()
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [18]:
#使用训练好的模型lr对X_test进行预测
lr_y_predict=lr.predict(X_test)

In [19]:
#使用SGDClassifier中的fit函数
sgdc.fit(X_train,y_train)
sgdc_y_predict=sgdc.predict(X_test)

In [27]:
sgdc_y_predict

array([4, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 4, 4, 4, 4, 4, 2, 2, 4, 4,
       2, 4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4, 2, 2,
       4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2,
       2, 4, 2, 2, 4, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2, 4, 2, 4, 4,
       2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2,
       2, 2, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2,
       2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4,
       4, 4, 2, 4, 2, 2, 4, 2, 4, 4], dtype=int64)

接下来进行性能测评

使用线性分类模型从事良/恶性肿瘤预测任务的性能分析

In [21]:
from sklearn.metrics import classification_report

print ('Accuracy of LR Classifier:',lr.score(X_test,y_test))

Accuracy of LR Classifier: 0.988304093567

In [23]:
print (classification_report(y_test,lr_y_predict,target_names=['Benign','Malignant']))

             precision    recall  f1-score   support

     Benign       0.99      0.99      0.99       100
  Malignant       0.99      0.99      0.99        71

avg / total       0.99      0.99      0.99       171

In [24]:
print ('Accuracy of SGD Classifier:',sgdc.score(X_test,y_test))
print (classification_report(y_test,sgdc_y_predict,target_names=['Benign','Malignant']))

Accuracy of SGD Classifier: 0.988304093567
             precision    recall  f1-score   support

     Benign       1.00      0.98      0.99       100
  Malignant       0.97      1.00      0.99        71

avg / total       0.99      0.99      0.99       171